@import url(https://unpkg.com/css-peeps@1/css-peeps.css);

:root {
  --skillColor: "navy";
  --fontWeight: "bold";
  --textCase: "uppercase";

  --ff-sans: "IBM Plex Sans", sans-serif;
  --ff-serif: "IBM Plex Serif", serif;

  /* small screen font-sizes */
  --fs-200: 0.75rem;
  --fs-300: 1rem;
  --fs-400: 1.25rem;
  --fs-500: 1.375rem;
  --fs-600: 1.75rem;
  --fs-900: 2.125rem;

  --fw-200: 200;
  --fw-300: 300;
  --fw-400: 400;
  --fw-700: 700;

  --bg-color: #1f242d;
  --second-bg-color: #323946;
  --text-color: #fff;
  --main-color: #0ef;

  --clr-neutral-100: #fff;
  --clr-neutral-200: #eef1f6;
  --clr-neutral-300: #a9afbc;
  --clr-neutral-400: #737b8c;
  --clr-neutral-500: #434956;
  --clr-neutral-900: #020203;

  --clr-primary-300: #f3f7ff;
  --clr-primary-400: #8ea8da;

  --br: 1rem;
}

html {
  background-color: #f1f5f9;
  font-family: sans-serif;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  width: 100%;
  /* max-width: 90ch; */
  padding: 1rem;
  font-size: 1.4rem;
  line-height: 1.5;
}

@media (max-width: 600px) {
  body {
    font-size: 1.5rem; /* Adjust font size for smaller screens */
    padding: 0.5rem; /* Adjust padding for smaller screens */
  }
}

/* Dark mode */
html.dark {
  background-color: #0d0950;
  color: #fff;
}

.dark .nav-links a {
  color: #fff;
}

/* h1 {
  margin: 1rem 0;
  font-size: 2.5rem;
} */

h1 {
  color: purple;
  font-size: 4rem;
  margin: 1rem 0;
}
.skill {
  color: var(--skillColor);
  font-weight: var(--fontWeight);
  text-transform: var(--textCase);
}

/* nav styles */
.hamburger {
  padding-right: 20px;
  cursor: pointer;
}

.hamburger .line {
  display: block;
  width: 40px;
  height: 5px;
  margin-bottom: 10px;
  background-color: #ff9776;
}

.nav-links {
  width: 100%;
  top: 5rem;
  left: 48px;
  background-color: #ff9776;
  display: none;
  margin: 0;
}

.nav-links a {
  display: block;
  text-align: center;
  padding: 10px 0;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
}

.nav-links a:hover,
.nav-links a:focus {
  background-color: #ff9776;
}

.expanded {
  display: unset;
}

@media screen and (min-width: 636px) {
  .nav-links {
    margin-left: 5em;
    display: block;
    position: static;
    width: auto;
    background: none;
  }

  .nav-links a {
    display: inline-block;
    padding: 15px 20px;
  }

  .hamburger {
    display: none;
  }
}

/* Home styles */
#hero {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 1921px) {
  #hero {
    max-width: 85%;
  }
}

.home-content h2 {
  font-size: 3.8rem;
  margin-bottom: 1rem;
}

.btn {
  display: inline-block;
  cursor: pointer;
  border: 0;
  background: none;
  font-weight: var(--fw-700);
  font-size: var(--fs-300);
  font-family: var(--ff-sans);
  text-decoration: none;
  color: var(--clr-neutral-200);
}

.btn::after {
  content: "\203A";
  margin-left: 1em;
  font-weight: var(--fw-300);
}

.btn:hover,
.btn:focus {
  color: var(--clr-primary-400);
}

.home-img {
  margin: 0 auto;
}

/* Gradient styles */
.gradient {
  background-image: linear-gradient(92deg, #6a68d9 10%, #da6cae 60%, #f5a957);
  -webkit-text-fill-color: #0000;
  -webkit-background-clip: text;
}

.line {
  display: block;
}

/* Peeps styles */
.css-peeps {
  --peep-head: short5;
  --peep-face: angry;
  --peep-accessory: sunglasses2;
  --peep-facial-hair: chinhair;
  --peep-body: turtleneck;

  --peep-hat-color: #fc03c2;
  --peep-hair-color: #7300e6;
  --peep-skin-color: #87ceeb;
  --peep-accessory-color: #000000;
  --peep-facial-hair-color: #ffd700;
  --peep-object-color: #ffa500;
  --peep-clothes-color: #ff0000;

  display: inline-block;
  width: 20rem;
  height: 18rem;
  background: white;
  border-radius: 10px;
  border: 2px solid var(--peep-accessory-color);
  border-radius: 50%;
}

/* Media queries */

@media (min-width: 40em) {
  #hero {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .css-peeps {
    width: 702px;
    height: 608px;
  }

  .line {
    display: inline-block;
  }
}
