---
import Greeting from "../components/Greeting";
import TypingMessage from "../components/TypingMessage";
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "Carlos Rangel Dev";
---

<BaseLayout pageTitle={pageTitle}>
  <section class="home" id="hero">

    <div class="home-content">
      <TypingMessage client:load />
      <p>I am a programmer from Aguascalientes, México</p>
      <p>I like to learn new stuff on the web, books and courses. I like to practice judo and read scary books in my free time.</p>

      <a href="https://drive.google.com/file/d/1bm7KByEU9Ox6pb1GXYq6qQhd4fGpKIpr/view?usp=sharing" target="_blank" class="btn">Download CV</a>
    </div>

    <div class="home-img">
      <!-- <img src="images/home.png" alt="" /> -->
      <a class="css-peeps" href="https://www.linkedin.com/in/carlos-rangel-dev/" target="_blank"></a>
    </div>
  </section>
</BaseLayout>
